[Desktop Entry]
Name=Dmedia Media Importer
GenericName=Media Importer
Comment=Import media files into the dmedia library
Exec=dmedia-import
Icon=dmedia
Terminal=false
Type=Application
MimeType=x-content/image-dcf;x-content/audio-player;x-content/video-dvd;x-content/image-picturecd
