include AUTHORS COPYING HACKING.txt README.txt
include dmedia.1 dmedia-import.desktop dmedia.svg
include dmedialib/data/*.js
include dmedialib/data/*.xml
include dmedialib/tests/*.py
include dmedialib/tests/data/*
