include AUTHORS COPYING HACKING.txt README.txt
include dmedia-cli.1 dmedia-import.desktop dmedia.svg
include org.freedesktop.DMedia.service dmedia-service
include indicator-rendermenu.svg indicator-rendermenu-att.svg
include dmedialib/data/*.js
include dmedialib/data/*.xml
include dmedialib/tests/*.py
include dmedialib/tests/data/*
