.hide {
    display: none !important;
}

body {
    font-family: Lato;
    font-size: 20px;
    background-color: #301438;
    color: #fff;
    text-align: center;
}

code, input {
    font-family: "Ubuntu Mono";
    font-size: 60px;
    font-weight: bold;
    color: #333;
    text-shadow: 0px 0px 3px #e81f3b;
    letter-spacing: 0.15em;
    line-height: 1.4em;
    margin: 0.4em;
}

input {
    width: 5.4em;
}

.secret {
    text-align: center;
    background-color: #fff;
    text-align: center;
    box-shadow: 2px 2px 6px #000;
    border-radius: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    display: inline-block;
}

#first, #sync {
    position: fixed;
    width: 460px;
    background-color: #fff;
    text-align: center;
    box-shadow: 2px 2px 5px #000;
    border-radius: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    color: #000;
}

#first {
    top: 35px;
    left: 51px;
}

#sync {
    bottom: 35px;
    /*left: 449px;*/
    right: 51px;
}

p.top {
    font-weight: bold;
    font-size: 22px;
}

#logo {
    position: fixed;
    top: 190px;
    left: 400px;
    width: 160px;
    height: 160px;
    -webkit-transition: -webkit-transform 500ms linear;
}

#logo.spinleft {
    -webkit-transform: rotate(-180deg);   
}

#logo.spinright {
    -webkit-transform: rotate(180deg);   
}


p.gen {
    margin: 2em;
    font-size: 30px;
}


#finish {
    position: fixed;
    width: 160px;
    height: 160px;
    bottom: 45px;
    right: 45px;
    cursor: pointer;
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 300ms;
    -webkit-transition-property: right, bottom;
}

#finish.hidden {
    bottom: -135px;
    right: -135px;
}

