Source: dmedia
Section: python
Priority: optional
Maintainer: Jason Gerard DeRose <jderose@novacut.com>
Build-Depends: debhelper (>= 7.4), python (>= 2.6), python-central
Standards-Version: 3.9.1
XS-Python-Version: >= 2.6
Homepage: https://launchpad.net/dmedia

Package: dmedia
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends},
 desktopcouch,
 python-couchdb (>= 0.8),
 python-genshi,
 python-xdg,
 gir1.2-gtk-2.0,
 gir1.2-webkit-1.0,
 gir1.2-appindicator-0.1,
 gir1.2-notify-0.7,
 totem,
 libimage-exiftool-perl,
 python-libtorrent,
 python-boto,
 python-gst0.10,
 gstreamer0.10-plugins-good
Suggests: gstreamer0.10-ffmpeg,
 gstreamer0.10-plugins-ugly,
 gstreamer0.10-plugins-ugly-multiverse,
 gstreamer0.10-plugins-bad,
 gstreamer0.10-plugins-bad-multiverse
Description: distributed media library
 A simple distributed media library.  Media files are given a globally unique ID
 based on their content-hash.  Meta-data is stored in CouchDB.  Meta-data for a
 large number of media files can be available locally (meta-data is small).
 Actual media files can be loaded on-demand from peers or cloud when not
 available locally (media files are big). Goals are to make synchronization
 super easy, and to lay groundwork for a distributed content creation workflow.
