Source: dmedia
Section: python
Priority: optional
Maintainer: Jason Gerard DeRose <jderose@novacut.com>
Build-Depends: debhelper (>= 8.9), python (>= 2.7)
Standards-Version: 3.9.2
X-Python-Version: 2.7
Homepage: https://launchpad.net/dmedia

Package: dmedia
Architecture: all
Depends: ${misc:Depends}, python (>= 2.7),
    dc3 (>= 11.09),
    python-microfiber (>= 11.09),
Description: distributed media library
 A user-experienced-focused technology aimed at making file management go away
 for both content-creation and content-consumption.
