#!/usr/bin/make -f

%:
	dh $@ --with=python3


override_dh_auto_clean:
	rm -rf build/

override_dh_auto_build:
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py build \
				--executable=/usr/bin/python3; \
	done

override_dh_auto_test:
	set -ex; for python in $(shell py3versions -r); do \
		unset GTK_MODULES && xvfb-run -a $$python setup.py test --core-only; \
	done

override_dh_auto_install:
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py install \
				--install-layout=deb \
				--root=$(CURDIR)/debian/dmedia; \
	done
	install -m 644 -D debian/dmedia.user-session.upstart debian/dmedia/usr/share/upstart/sessions/dmedia.conf

