body{
	background-color:#15171a;
	padding:0px;
	margin:0px;
	font-family:sans-serif;
	font-size:10pt;
	cursor:default;
}

h1, h2, h3, h4, h5, h6{
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	color:#222;
}

input{
	outline:none;
}

placeholder{
	font-style:italic;
}

.box{
	margin:10px;
	padding:10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:rgb(182, 189, 192);
	background:-webkit-gradient(linear, left bottom, left top, color-stop(1, rgb(238,240,240)), color-stop(0.5, rgb(182,189,192)));
	background:-moz-linear-gradient(center bottom, rgb(182,189,192) 50%, rgb(238,240,240) 100%);
	overflow:auto;
	box-shadow:inset 3px 3px 5px rgba(0,0,0,0.5);
/*
FIXME: WebKit-GTK currently has a severe performance problem when using
large box-shadows, so this has been disabled for now.  See:

  https://bugs.launchpad.net/ubuntu/+source/webkit/+bug/655012

  https://bugs.webkit.org/show_bug.cgi?id=41031
*/
/*	-webkit-box-shadow:inset 3px 3px 5px rgba(0,0,0,0.5); */
	-moz-box-shadow:inset 3px 3px 5px rgba(0,0,0,0.5);
	border:1px solid #ddd;
}

#browser{
	position:absolute;
	top:0px;
	left:0px;
	right:320px;
	bottom:0px;
	padding:0px;
}

#info{
	-webkit-transition: -webkit-transform 500ms ease-out, opacity 500ms ease-out;
	-moz-transition: -moz-transform 500ms ease-out, opacity 500ms ease-out;
	position:absolute;
	top:0px;
	left:25%;
	right:25%;
	margin:0px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.5);
	-moz-box-shadow:3px 3px 5px rgba(0,0,0,0.5);
	box-shadow:3px 3px 5px rgba(0,0,0,0.5);
	border:1px solid #ccc;
	opacity: 1;
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
}

#info.out{
	-webkit-transition: -webkit-transform 500ms ease-in, opacity 500ms ease-in, visibility 0s linear 500ms;
	-moz-transition: -moz-transform 500ms ease-in, opacity 500ms ease-in;
	opacity:0;
	visibility:hidden;
	-webkit-transform: translate(0px, -80px);
	-moz-transform: translate(0px, -80px);
	-o-transform: translate(0px, -80px);
}

#display{
	position:absolute;
	bottom:0px;
	right:0px;
	top:80px;
	width:290px;
}

#search{
	position:absolute;
	top:0px;
	right:0px;
	height:50px;
	width:290px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	border-radius:25px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.search_field{
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	border:1px solid #444;
	height:30px;
	width:290px;
	padding-left:50px;
	background-color:#eee;
	background-image:url("search.png");
	background-repeat:no-repeat;
	background-position:15px 3px;
/*	-webkit-box-shadow:inset 0px 3px 10px rgba(0,0,0,0.5);*/
	-moz-box-shadow:inset 0px 3px 10px rgba(0,0,0,0.5);
	box-shadow:inset 0px 3px 10px rgba(0,0,0,0.5);
}

#display img{
	border:5px solid #ddd;
	border-bottom:20px solid #ddd;
	-webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.5);
	-moz-box-shadow:3px 3px 10px rgba(0,0,0,0.5);
	box-shadow:3px 3px 10px rgba(0,0,0,0.5);
	margin-left:auto;
}

.item{
	position:relative;
	display:inline-block;
	margin:2px;
}

.item img{
	-webkit-transition: border-color 1s ease;
	-moz-transition: border-color 1s ease;
	-webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
	box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
	margin:1px;
	border-width:4px;
	border-color:#222;
	border-style:solid;
}

.item img:hover{
	-webkit-transition: border-color 0s linear;
	-moz-transition: border-color 0s linear;
	border-color:#fff;

}

.time{
	position:absolute;
	bottom:5px;
	right:5px;
	font-size:9pt;
	background-color:rgba(0,0,0,0.4);
	color:#fff;
	padding:5px;
	font-family:monospace;
	text-align:right;
	width:150px;
}

.field{
	border:none;
	background:none;
	background-color:rgba(0,0,0,0.1);
	outline:none;
	font-family:sans-serif;
	-webkit-box-shadow:inset 1px 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 1px 1px 2px rgba(0,0,0,0.5);
	box-shadow:inset 1px 1px 2px rgba(0,0,0,0.5);
	padding:5px;
}

.field:focus{
	outline:none;
	background-color:rgba(0,0,0,0.3);
}

.star_on{
	position:absolute;
	bottom:11px;
	left:11px;
	height:14px;
	width:51px;
	background-image: url("stars.png");
}

.star_off{
	position:absolute;
	bottom:11px;
	left:11px;
	height:15px;
	width:84px;
	background-image: url("stars.png");
	background-position:0px 15px;
}

div .button{
	background-color:rgb(215, 215, 215);
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(230, 230, 230)), to(rgb(200,200,200)));
	background: -moz-linear-gradient(center bottom, rgb(200,200,200) 0%, rgb(230,230,230) 100%);
	padding:5px;
	border:1px solid #ddd;
	width:auto;
	text-shadow:0px 1px 0px white;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	float:left;
	min-width:50px;
	text-align:center;
	display:inline-block;
	margin:5px;
	-webkit-box-shadow:0px 2px 5px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 2px 5px rgba(0,0,0,0.5);
	box-shadow:0px 2px 5px rgba(0,0,0,0.5);
}

div .button:hover{
	background-color:rgb(230, 230, 230);
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(230, 230, 230)), to(rgb(210,210,210)));
	background: -moz-linear-gradient(center bottom, rgb(210,210,210) 0%, rgb(230,230,230) 100%);
	cursor:pointer;
	-webkit-box-shadow:0px 3px 5px rgba(0,0,0,0.6);
	-moz-box-shadow:0px 3px 5px rgba(0,0,0,0.6);
	box-shadow:0px 3px 5px rgba(0,0,0,0.6);
}

div .button:active{
	background-color:rgb(210, 210, 210);
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(210, 210, 210)), to(rgb(230,230,230)));
	background: -moz-linear-gradient(center bottom, rgb(230,230,230) 0%, rgb(210,210,210) 100%);
	text-shadow:0px -1px 0px white;
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.7);
	-moz-box-shadow:0px 1px 3px rgba(0,0,0,0.7);
	box-shadow:0px 1px 3px rgba(0,0,0,0.7);
}

#dim{
	-webkit-transition:opacity 250ms ease;
	position:absolute;
	visibility:show;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background-color:#000;
	opacity:0.7;
}

#dim.out{
	-webkit-transition:opacity 500ms ease, visibility 0s linear 500ms;
	opacity:0;
	visibility:hidden;
}

::selection {
	background-color:Transparent;
	cursor:default;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0px;
    width:0px;
}

::-webkit-scrollbar-track-piece {
    background-color: #aaa;
    -webkit-box-shadow:inset 2px 2px 4px rgba(0,0,0,0.4);
    -webkit-border-radius:5px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #333;
    -webkit-box-shadow:inset 2px 2px 4px rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #333;
    -webkit-box-shadow:inset 2px 2px 4px rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 5px;
}
