[Desktop Entry]
Name=Dmedia
Exec=dmedia-cli Version
Type=Application
X-GNOME-Autostart-Delay=10
Icon=dmedia
NoDisplay=true
X-Ubuntu-Gettext-Domain=dmedia
