[Desktop Entry]
Type=Application
Name=Dmedia Setup
GenericName=Dmedia Setup
Comment=Setup Utility for Dmedia.
Exec=/usr/bin/dmedia-peer-gtk
Icon=dmedia-peer
NoDisplay=true
Terminal=false
StartupNotify=true
Categories=GNOME;GTK;AudioVideo;AudioVideoEditing;
X-Ubuntu-Gettext-Domain=dmedia
