[Desktop Entry]
Type=Application
Name=Dmedia Setup
GenericName=Dmedia Setup
Comment=Setup Utility for Dmedia.
Exec=/usr/bin/dmedia-setup
Icon=dmedia-setup
Terminal=false
StartupNotify=true
Categories=GNOME;GTK;AudioVideo;AudioVideoEditing;
X-Ubuntu-Gettext-Domain=dmedia
