[Desktop Entry]
Type=Application
Name=Dmedia
GenericName=Dmedia
Comment=The Distributed Media Library.
Exec=/usr/bin/dmedia-gtk
Icon=dmedia
Terminal=false
StartupNotify=true
Categories=GNOME;GTK;AudioVideo;AudioVideoEditing;
X-Ubuntu-Gettext-Domain=dmedia
