body {
    font-family: Ubuntu;
}

.hide {
    display: none !important;
}

.selected {
    background-color: #ddd !important;
}

.keep {
    background-color: #cfc;
}

.reject {
    background-color: #fcc;
}
