* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-sarif;
    font-size: 14px;
    line-height: 25px;
}

#content {
    position: fixed;
    top: 0;
    bottom: 170px;
    left: 0;
    right: 212px;
    background-color: #333;
    overflow-x: auto;
    overflow-y: auto;
}

#lower {
    position: fixed;
    height: 170px;
    bottom: 0;
    left: 0;
    right: 212px;
    overflow-x: auto;
    overflow-y: visible;
    background: -webkit-linear-gradient(top, #ddd, #999);
}

#right {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 212px;
    right: 0;
    background-color: black;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 200;
}

div.thumbnail {
    width: 192px;
    height: 108px;
    border: 3px solid black;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}

.large #content {
    right: 260px;
}

.large #lower {
    right: 260px;
}

.large #right {
    width: 260px;
}

.large div.thumbnail {
    width: 240px;
    height: 135px;
}

#player {
    background-color: black;
    position: absolute;
    top: 10px;
    left: 10px;
}

div.thumbnail.selected {
    border-color: #e81f3b;
}

input, button {
    padding: 0 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    border-radius: 5px;
    box-shadow: 1px 2px 8px black;
    line-height: 23px;
}

input {
    color: black;
    border-color: black;
    color: white;
    background: -webkit-linear-gradient(top, #444, #666);
}

button {
    color: white;
    border-color: #fff;
    background:-webkit-linear-gradient(top, #bbb, #000);
    font-weight: bold;
}

input:focus, button:focus {
    border-color: #e81f3b;
}

ul {
    list-style: none;
}

ul.matches {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 2px 8px black;
    border-radius: 5px;
    overflow: hidden;
}

ul.matches li {
    padding: 0px 5px;
    border-radius: 5px;
    white-space: nowrap;
}

li.selected {
    background-color: #e81f3b;
}


ul.tags {
    font-size: 0;
    list-style: none;
    background: -webkit-linear-gradient(top, #333, #666);
    box-shadow: 1px 2px 8px black;
    border-radius: 5px;
    height: 150px;
    padding: 2px;
}

ul.tags li {
    margin-right: 4px;
    padding-left: 4px;
    border-radius: 8px;
    background-color: white;
    display: inline-block;
    cursor: default;
}

ul.tags a {
    text-decoration: none;
    display: inline-block;
    color: #D8290D;
    font-weight: bold;
    padding: 0 6px;
    cursor: pointer;
}

ul.tags a:hover {
    background-color: #ddd;
    border-radius: 8px;
}
