body {
    background-color: #333;
    font-family: Ubuntu;
    padding: 0;
    margin: 0;
}

video {
    background-color: #999;
}

#tray {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 185px;
    background-color: #000;
    overflow-y: scroll;
}

img {
    display: block;
    border: 5px solid #000;
}

img.selected {
    border-color: #fff; 
}

