* {
    margin: 0;
    padding: 0;
    border-width: 0;
}

.grid_row {
    border-top: 1px solid #51225e;
}

body, input, textarea, select, option, button, h2 {
    font-family: Ubuntu, sans-sarif;
    font-size: 15px;
}

input, textarea, button {
    padding: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);

    /* The transparents help make it clearer that things are working */
    background-color: rgba(0, 0, 0, 0.3);
}

select {
    padding: 4px;
}

button {
    /* The transparents help make it clearer that things are working */
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-color: #fff;
}

input:focus, textarea:focus, select:focus, button:focus {
    border-color: #e81f3b;
    border-style: solid;
}

p, h2, pre {
    padding: 5px;

    /* The transparents help make it clearer that things are working */
    background-color: rgba(0, 0, 0, 0.3);
}


code, pre {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 17px;
}


body {
    background-image: url(16_col.gif);
}

.progress {
    height: 20px;
    background: -webkit-linear-gradient(top, #444, #666);
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    position: relative;
}

.progress div {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    width: 35%;
    border-radius: 10px;
    background: -webkit-linear-gradient(top, #ea364f, #bd132b);
}

/*
-webkit-user-drag: auto;
-webkit-user-select: text;
*/

