* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-sarif;
    font-size: 14px;
    line-height: 24px;
}

html{
    height:100%;
}

body{
    color: white;
    background: -webkit-radial-gradient(50% 90%, 400% 100%, #51225e, #28102c);
    background-attachment: fixed;
}

.hide {
    display: none !important;
}

.content {
    padding-top: 48px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    background: -webkit-linear-gradient(top, rgba(40, 16, 44, 1), rgba(40, 16, 44, 1) 50%, rgba(40, 16, 44, 0));
    z-index: 100;
    font-size: 0;
}

#header .tab {
    position: relative;
    cursor: default;
    text-align: center;
    margin: 0 8px;
    display: inline-block;
    width: 224px;
    font-size: 16px;
}

#header .tab:after {
    height: 24px;
    width: 1px;
    content: "";
    position: absolute;
    right: -9px;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.7), rgba(255,255,255,0));
}

#header .tab:last-child:after{
    visibility: hidden;
}

#header .tab.active:before{
    position:absolute;
    left: 0px;
    width: 100%;
    height: 24px;
    box-shadow: 0px 10px 15px -10px #e81f3b;
    content: "";
}

#header .tab.active{
    text-shadow: 0px 0px 10px white;
}

#header:after {
    position: absolute;
    left: 0px;
    top: 24px;
    height: 1px;
    width: 100%;
    content: "";
    z-index: 99;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.7), rgba(255,255,255,0));
}

textarea {
    padding: 0.5em;
    width: 430px;
    box-sizing: content-box;
    font-family: Ubuntu;
    color: white;
    background: -webkit-linear-gradient(top, #444, #666);
    border: 0px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5em;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
}

button {
    border-width: 1px;
    padding-left: 4px;  /* 1px less becaues of 1px border */
    line-height: 22px;  /* 2px less becaues of 1px border */
    border-style: solid;
    border-color: white;
    background:-webkit-linear-gradient(top, #bbb, #000);
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px 2px 8px black;
}

input {
    padding-left: 5px;
    color: white;
    background: -webkit-linear-gradient(top, #444, #666);
    border: 0px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
}


.progress {
    height: 20px;
    background: -webkit-linear-gradient(top, #444, #666);
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    position: relative;
}

.progress div {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    border-radius: 10px;
    background: -webkit-linear-gradient(top, #ea364f, #bd132b);
}

.card-label {
    font-weight: bold;
}


ul {
    list-style: none;
}

.project {
    margin: 8px;
    display: inline-block;
    background-color: #333;
    color: white;
    font-size: 0;
    box-shadow: 1px 2px 6px black;
}

.project .thumbnail {
    width: 80px;
    height: 80px;
    background-position: center center;
    background-size: cover;
    background-color: #666;
}

.project > div {
    display: inline-block;
    vertical-align: top;
}

.project p {
    font-size: 14px;
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    width: 224px;
    color: #ddd;
    box-sizing: border-box !important;
}

.project p.title {
    font-weight: bold;
    color: white;
}


#cards .thumbnail {
    height: 215px;
    width: 215px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.6);
    background-color: #999;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    font-size: 14px;
}

#cards .thumbnail div {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px;
    position: absolute;
    width: 100%;
}


#tray {
    position: fixed;
    right: 0;
    top: 25px;
    bottom: 0;
    width: 212px;
    background-color: #000;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-user-select: none;
    z-index: 200;
}

#tray img {
    -webkit-user-select: none;
    display: block;
    border: 3px solid #000;
    width: 192px;
    height: 108px;
}

#tray img.selected {
    border-color: #e81f3b; 
}

#tag_matches li.selected {
    background-color: #555;
}


