* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-sarif;
    font-size: 14px;
    line-height: 24px;
}

html{
    height:100%;
}

body{
    color: white;
    background: -webkit-radial-gradient(50% 90%, 400% 100%, #51225e, #28102c);
    background-attachment: fixed;
}

.hide {
    display: none !important;
}

.content {
    padding-top: 40px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 39px;
    /*background: -webkit-linear-gradient(top, #402448, #301438);*/
    text-shadow:0px -1px 0px rgba(0,0,0,0.6);
    z-index: 100;
}

#header .tab {
    position: relative;
    cursor: default;
    text-align: center;
    margin: 0 8px;
    font-size: 16px;
    line-height:38px;
    height:39px;
}

#header .tab:after {
    height: 40px;
    width: 1px;
    content: "";
    position: absolute;
    right: -9px;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.2), rgba(255,255,255,0));
}

#header .tab:last-child:after{
    width:0px;
    visibility:hidden;
}

#header .tab.active{
    background:-webkit-radial-gradient(center top, contain, rgba(255,255,255,0.1), rgba(255,255,255,0));
}

textarea {
    padding: 0.5em;
    width: 430px;
    box-sizing: content-box;
    font-family: Ubuntu;
    color: white;
    background: -webkit-linear-gradient(top, #444, #666);
    border: 0px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5em;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
}


.progress {
    height: 24px;
    background: -webkit-linear-gradient(top, #111, #222);
    border-radius: 12px;
    border-bottom:1px solid #444;
    border-top:1px solid #333;
    box-shadow: inset 0px 1px 5px rgba(0,0,0,0.7);
    position: relative;
    overflow:hidden;
}

.progress div {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    border-radius: 12px;
    box-shadow:inset 0px -1px rgba(0,0,0,0.4), inset 0px -5px 1px rgba(255,255,255,0.1), inset 0px 0px 15px rgba(255, 255, 255, 0.4), 0px 0px 15px #e81f3b;
    background: -webkit-linear-gradient(top, #ea364f, #bd132b);
}

.card-label {
    font-weight: bold;
}

p {
    padding-left: 5px;
}


ul {
    list-style: none;
}

.project {
    margin: 8px;
    display: inline-block;
    background-color: #333;
    color: white;
    font-size: 0;
    box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
    cursor: default;
    -webkit-user-select: none;
}

.project.selected {
    box-shadow: 0 0 10px #e81f3b;
}

.project .thumbnail {
    width: 80px;
    height: 80px;
    background-position: center center;
    background-size: cover;
    background-color: #666;
}

.project > div {
    display: inline-block;
    vertical-align: top;
}

.project p {
    font-size: 14px;
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    width: 224px;
    color: #ddd;
    box-sizing: border-box !important;
}

.project p.title {
    font-weight: bold;
    color: white;
}

#importer .grid_row > * {
    vertical-align: baseline;
}

#target_project {
    font-size: 18px;
    line-height: 1.6em;
    font-weight: bold;
    text-shadow: 0px 0px 10px #e81f3b;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}


#cards .thumbnail {
    height: 224px;
    width: 224px;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.5);
    background-color: #999;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
}

#cards .thumbnail div {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    position: absolute;
    width: 100%;
}


#tray {
    position: fixed;
    right: 0;
    top: 40px;
    bottom: 0;
    width: 212px;
    background-color: #000;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-user-select: none;
    z-index: 200;
}

#tray img {
    -webkit-user-select: none;
    display: block;
    border: 3px solid #000;
    width: 192px;
    height: 108px;
}

#tray img.selected {
    border-color: #e81f3b; 
}

#tag_matches li.selected {
    background-color: #555;
}


