#machines {

}

.machine {
    vertical-align: top;
    background-color: #eee;
    border: 1px solid #555;
    display: inline-block;
    padding: 0 10px;
    margin: 5px;
}

.machine .text {
    font-weight: bold;
    padding: 5px;
    margin: 5px 0;
}

.drive {
    background-color: #ccc;
    border: 1px solid #333;
    padding: 5px;
    margin: 10px 0;
}

.file {
    width: 160px;
    height: 90px;
}

.file {
    /* top right bottom left */
    margin: -10px 10px 10px -150px;
    width: 160px;
    height: 90px;
}

.file:nth-child(2) {
    /* top right bottom left */
    margin: 10px 10px 10px 10px;
}

