#machines {

}

.machine {
    vertical-align: top;
    background-color: #eee;
    border: 1px solid #555;
    display: inline-block;
    padding: 0 10px;
    margin: 5px;
}

.machine .text {
    font-weight: bold;
    padding: 5px;
    margin: 5px 0;
}

.drive {
    background-color: #ccc;
    border: 1px solid #333;
    padding: 5px;
    margin: 10px 0;
}

